@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  /* /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* font-family: "Poiret One", cursive; */
  font-family: 'Poppins', sans-serif;
  /* font-family: "Poppins", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(255, 255, 255, 0.8); */
  scroll-behavior: smooth;
  background: #abbaab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

* {
  color: #636310 !important;
  /* font-weight: 600; */
  box-sizing: border-box;
}

.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
  font-family: 'Poppins', sans-serif;
  /* font-weight: bold;  */
}


.MuiBadge-colorSuccess {
  color: aliceblue !important;
  background-color: #636310 !important;
}

a {
  text-decoration: none;
}

.MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault.css-2s90m6-MuiAvatar-root {
  background-color: beige;
  display: grid;
  place-items: center;
  font-family: 'Poppins';
}